# Ignore criptografia da environment
.env.cryptography

# Ignore logs
/logs
*.log

# Ignore virtual environment directories
venv/

# Ignore test files
src/Sass

.env.cryptography
# Ignore Python cache directories
__pycache__/

# Ignore Python bytecode files
*.py[cod]

# (Optional) Jython bytecode
*$py.class
*$py.class
